@mixin breadcrumb-bg {
    width: 100%;
    background: #F8F3F4;
    display: flex;
    justify-content: center
}

@mixin breadcrumb($mode: 0) {
    width: 100%;
    max-width: 1129px;
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        max-width: 736px;
    }

    @media screen and (max-width: 767px) {
        max-width: 375px;
        flex-direction: column;
        justify-content: center;

        @if $mode==0 {
            gap: 32px;
            padding: 24px 0px 46px 0px;
        }

        @else {
            padding: 50px 0px 69px 0px;
        }
    }

    &__title {
        color: #F16D7F;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__links {
        color: #636363;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        &:last-child {
            color: #F16D7F;
            font-weight: 700;
        }
    }
}