@import 'common';
@import 'header';
@import 'breadcrumb';
@import 'products';
@import 'advantages';
@import 'footer';

$colorSite: #F16D7F;

.header-bg {
    @include header-bg;
}

.header {
    @include header;
}

.mobile-menu {
    @include mobile-menu;
}

.breadcrumb-bg {
    @include breadcrumb-bg;
}

.breadcrumb {
    @include breadcrumb;
}

.filter-sort-bg {
    @include product-bg();
}

.filter-sort {
    width: 100%;
    max-width: 1140px;
    padding-top: 39px;
    display: flex;
    gap: 30px;
}

.filter {
    position: relative;
    height: 40px;
    width: 360px;

    &__details {
        width: 100%;
        padding: 13px 16px 16px;
        box-sizing: border-box;
        position: absolute;
        z-index: 1;

        &[open] {
            background: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

            & .filter__summary {
                color: $colorSite;
            }

            & .filter__img path {
                fill: $colorSite;
            }
        }
    }

    &__summary {
        display: flex;
        gap: 11px;
        align-items: center;
    }

    &__category {
        margin-top: 16px;

        &[open] .filter__category-summary {
            color: $colorSite
        }
    }

    &__category-summary {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        padding: 8px 11px 11px;
        border-left: 5px solid $colorSite;
        border-bottom: 1px solid #EBEBEB;
    }

    &__box {
        display: flex;
        flex-direction: column;
        padding: 24px 16px;
        gap: 11px;
    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $colorSite;
        }
    }
}

.sort {
    display: flex;
    gap: 28px;
    align-items: center;

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 6px;
        width: 79px;
        padding: 7px 9px 11px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        z-index: 1;
        top: 22px;
        left: -9px;
    }
}

.product-bg {
    @include product-bg();
}

.product-box {
    @include product-box(catalog);
}

.product {
    @include product;
}

.pagination-wrapper {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 96px;
    display: flex;
    justify-content: center;
}

.pagination {
    width: 284px;
    height: 44px;
    border: 1px solid #EBEBEB;
    padding: 15px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__prev {
        margin-right: 16px;
    }

    &__next {
        margin-left: 16px;
    }

    &__items {
        display: flex;
    }

    &__item {
        color: #C4C4C4;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: 22px;

        &_last {
            margin-left: 0;

            &::before {
                content: '.....';
            }
        }

        &_first {
            margin-left: 0;
        }

        &_current {
            color: #EF5B70;
        }
    }
}

.advantages-bg {
    @include advantages-bg;
}

.advantages {
    @include advantages;
}

.subscribe-bg {
    @include subscribe-bg;
}

.subscribe {
    @include subscribe;
}

.footer-bg {
    @include footer-bg;
}

.footer {
    @include footer;
}